<template>
    <footer class="d-flex justify-content-between pb-4">
        <div class="footer-images">
            <a
                href="https://zhp.pl/"
                target="_blank"
                class="mr-4"
            >
                <img
                    src="/img/logo_zhp_small.png"
                    :alt="__('Związek Harcerstwa Polskiego')"
                    class="footer-image"
                />
            </a>
            <a
                href="https://fanimani.pl/"
                target="_blank"
            >
                <img
                    src="/img/logo_fanimani_small.png"
                    :alt="__('FaniMani')"
                    class="footer-image"
                />
            </a>
        </div>
    </footer>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class HomeFooter extends Vue {
        public name = "HomeFooter";
    }
</script>

<style lang="scss" scoped>
    .footer-image {
        max-height: 50px;
    }
</style>
