<template>
    <FormulateForm v-model="formData" @submit="onSubmit">
        <div class="row">
            <div class="col-lg-7">
                <RegistrationNumber
                    error-behavior="submit"
                    class="mt-3"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xl-7">
                <VButton
                    type="submit"
                    :text="__('Sprawdź status składek')"
                    icon="fas fa-check"
                    icon-class="mr-2"
                    class="btn submit-button"
                />
            </div>
        </div>
    </FormulateForm>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import RegistrationNumber from "../../components/VueFormulate/RegistrationNumber.vue";
    import VButton from "../../components/VButton.vue";

    @Component({
        components: {
            RegistrationNumber,
            VButton
        }
    })
    export default class HomeForm extends Vue {

        /**
         * The form data.
         *
         * @type {Object}
         */
        public formData = {
            registration_number: ""
        };

        /**
         * On form submit.
         *
         * @return {Promise<void>}
         */
        public async onSubmit(): Promise<void> {
            this.redirectTo("status", {
                registrationNumber: this.formData.registration_number
            });
        }

    }
</script>
