<template>
    <header>
        <BNav class="mb-2">
            <BNavText class="text-left mr-auto">
                <VSpinner />
            </BNavText>
            <BNavItem
                v-if="!isAuthorized()"
                :to="{ name: 'login' }"
                class="text-white text-right"
            >
                {{ __("Zaloguj się") }}
            </BNavItem>
        </BNav>
    </header>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VIcon from "../../components/VIcon.vue";
    import VSpinner from "../../components/VSpinner.vue";

    @Component({
        components: {
            VIcon,
            VSpinner
        }
    })
    export default class HomeHeader extends Vue {}
</script>
