<template>
    <main class="jumbotron py-5 shadow">
        <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
                <VAppLogo />
            </div>
            <div class="col-lg-7">
                <h1 class="text-center text-lg-left">
                    <span>
                        {{ __("Czuwaj!") }}
                    </span>
                </h1>
                <p class="text-justify mt-4 mb-0">
                    {{ __("Znajdujesz się na Platformie Składkowej Chorągwi Ziemi Lubuskiej ZHP. Aby sprawdzić status składek, wpisz poniżej swój numer ewidencyjny ZHP i kliknij przycisk. ") }}
                </p>
                <HomeForm />
            </div>
        </div>
    </main>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VAppLogo from "../../components/VAppLogo.vue";
    import HomeForm from "./HomeForm.vue";

    @Component({
        components: {
            HomeForm,
            VAppLogo
        }
    })
    export default class HomeMain extends Vue {}
</script>

<style lang="scss" scoped>
    @import "../../../sass/variables";
    @import "bootstrap";

    .jumbotron {
        color: #ffffff;
        background-color: rgba($primary, $transparency-factor);

        h1 {
            font-weight: bold;
        }
    }

    .logo-figure {
        @include media-breakpoint-between(xs, xl) {
            width: 75%;
        }

        @include media-breakpoint-up(xl) {
            width: 65%;
        }
    }

    .submit-button {
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
</style>
