<template>
    <section class="container d-flex flex-column h-100 text-white py-3">
        <div class="my-auto">
            <HomeHeader />
            <HomeMain />
            <HomeFooter />
        </div>
    </section>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import HomeFooter from "./HomeFooter.vue";
    import HomeHeader from "./HomeHeader.vue";
    import HomeMain from "./HomeMain.vue";

    @Component({
        components: {
            HomeFooter,
            HomeMain,
            HomeHeader
        }
    })
    export default class Home extends Vue {}
</script>
