<template>
    <p>
        {{ __("Jeżeli chcesz wiedzieć więcej o tym, w jaki sposób Twoje składki przysługują się harcerstwu, ") }}
        <a
            class="text-white-50"
            href="http://zielonagora.zhp.pl/dla-rodzicow/ile-kosztuje-harcerstwo/"
            target="_blank"
        >
            {{ __("zajrzyj tutaj") }}</a>.
    </p>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class HowContributionsWork extends Vue {}
</script>
