<template>
    <BJumbotron class="mt-4 py-5 bg-success-transparent">
        <template v-slot:header>
            <h1 class="font-weight-bold text-center text-md-left">
                {{ __("Wszystko zapłacone!") }}
            </h1>
        </template>
        <p class="mt-4">
            {{ __('Dobra robota! Wszystkie Twoje składki są opłacone. Nie mamy dla Ciebie żadnego dyplomu z tej okazji, ale wiedz, że jesteśmy z Ciebie bardzo dumni.') }}
        </p>
        <p class="lead">
            {{ __("Dziękujemy!") }}
        </p>
        <HowContributionsWork />
        <VButton
            class="submit-button mt-4"
            :text="__('Powrót')"
            @click.prevent="redirectTo('home')"
        />
    </BJumbotron>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VAppLogo from "../../components/VAppLogo.vue";
    import VButton from "../../components/VButton.vue";
    import VResourceNotFound from "../../components/VResourceNotFound.vue";
    import HowContributionsWork from "./HowContributionsWork.vue";

    @Component({
        components: {
            HowContributionsWork,
            VAppLogo,
            VResourceNotFound,
            VButton
        }
    })
    export default class StatusPaid extends Vue {}
</script>
