<template>
    <BJumbotron class="mt-4 py-5 bg-success-transparent">
        <template v-slot:header>
            <h1 class="font-weight-bold text-center text-md-left">
                {{ __("Zaległe opłaty!") }}
            </h1>
        </template>
        <i v-if="lastModificationDate">
            {{ __("Data ostatniej aktualizacji: :date", { date: lastModificationDate }) }}
        </i>
        <p class="text-justify mt-4">
            {{ __("Wygląda na to, że nie wszystkie składki zostały opłacone. Zaległe składki prezentują się następująco:") }}
        </p>
        <ul>
            <template v-for="(arrears, key) of status.profile.arrears.array">
                <li v-for="(value, quarter) of arrears">
                    {{ arrearsInformation(key, quarter, value) }}
                </li>
            </template>
        </ul>
        <p v-if="status.remarks">
            {{ __("Uwagi: :remarks.", { remarks: status.remarks }) }}
        </p>
        <p class="lead font-weight-bold">
            {{ __("W sumie Twoje zaległości wynoszą :amount zł.", { amount: status.profile.arrears.total }) }}
        </p>
        <div v-if="status.transfer_details">
            <p>
                {{ __("Szczegóły przelewu:") }}
            </p>
            <div
                v-html="status.transfer_details"
                class="transfer-details"
            />
        </div>
        <HowContributionsWork />
        <VButton
            class="submit-button mt-4"
            :text="__('Powrót')"
            @click.prevent="redirectTo('home')"
        />
    </BJumbotron>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VButton from "../../components/VButton.vue";
    import Status from "../../models/Status";
    import HowContributionsWork from "./HowContributionsWork.vue";

    @Component({
        components: {
            VButton,
            HowContributionsWork
        }
    })
    export default class StatusUnpaid extends Vue {

        @Prop({ required: true })
        public status!: Status;

        /**
         * Texts for quarters keys.
         *
         * @type {Object}
         */
        public quarterTexts = {
            "quarter1": this.$lang("I kwartał"),
            "quarter2": this.$lang("II kwartał"),
            "quarter3": this.$lang("III kwartał"),
            "quarter4": this.$lang("IV kwartał")
        };

        /**
         * Options for localized date format.
         *
         * @type {Intl.DateTimeFormatOptions}
         */
        public dateFormatOptions: Intl.DateTimeFormatOptions = {
            year: "numeric",
            month: "long",
            day: "numeric",
            weekday: "long"
        };

        /**
         * Returns the date of last modification.
         *
         * @return {string}
         */
        public get lastModificationDate(): string {
            if (this.status.last_modified) {
                return new Date(this.status.last_modified).toLocaleDateString(undefined, this.dateFormatOptions);
            }

            return "";
        }

        /**
         * Returns text information about the arrears.
         *
         * @param {number} year
         * @param {string} quarter
         * @param {number} amount
         * @return {string}
         */
        public arrearsInformation(year: number, quarter: string, amount: number): string {
            const texts = this.quarterTexts;
            const quarterText = texts[quarter as keyof typeof texts];

            return [quarterText, year, this.$lang("roku"), "-", amount, this.$lang("zł")].join(" ");
        }

    }
</script>

<style lang="scss">
    .transfer-details p {
        margin: 0 !important;
    }
</style>
