<template>
    <BJumbotron class="mt-4 py-5 bg-success-transparent">
        <template v-slot:header>
            <h1 class="font-weight-bold text-center text-md-left">
                {{ __("Brak harcerza!") }}
            </h1>
        </template>
        <p class="text-justify mt-4">
            {{ __("Harcerz o podanym numerze ewidencyjnym nie został znaleziony. Upewnij się, że wpisany numer ewidencyjny jest prawidłowy i spróbuj ponownie.") }}
        </p>
        <p class="text-justify">
            {{ __("Jeżeli uważasz, że numer ewidencyjny jest prawidłowy i status powinien się wyświetlić, skontaktuj się z drużynowym swojej drużyny.") }}
        </p>
        <VButton
            class="submit-button mt-4"
            :text="__('Powrót')"
            @click.prevent="redirectTo('home')"
        />
    </BJumbotron>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VButton from "../../components/VButton.vue";
    import VResourceNotFound from "../../components/VResourceNotFound.vue";
    import HowContributionsWork from "./HowContributionsWork.vue";

    @Component({
        components: {
            HowContributionsWork,
            VButton,
            VResourceNotFound
        }
    })
    export default class StatusNotFound extends Vue {}
</script>
