<template>
    <BCollapse class="nav-collapse" id="nav-collapse" is-nav>
        <BNavbarNav class="ml-auto">
            <BNavItem :to="routes.roles" v-if="can(allPermissions.role.access)" active-class="active-tab">
                {{ __("Role") }}
            </BNavItem>
            <BNavItem :to="routes.districts" v-if="can(allPermissions.district.access)" active-class="active-tab">
                {{ __("Hufce") }}
            </BNavItem>
            <BNavItem :to="routes.units" v-if="can(allPermissions.unit.access)" active-class="active-tab">
                {{ __("Jednostki") }}
            </BNavItem>
            <BNavItem :to="routes.users" v-if="can(allPermissions.user.access)" active-class="active-tab">
                {{ __("Użytkownicy") }}
            </BNavItem>
            <BNavItem :to="routes.scouts" v-if="can(allPermissions.scout.access)" active-class="active-tab">
                {{ __("Harcerze") }}
            </BNavItem>
            <BNavItem :to="routes.settings" v-if="can(allPermissions.setting.access)" active-class="active-tab">
                {{ __("Ustawienia") }}
            </BNavItem>
            <BNavItemDropdown no-caret right>
                <template v-slot:button-content>
                    {{ __("Konto") }}
                    <VIcon icon="fas fa-angle-down" />
                </template>
                <BDropdownItem :to="routes.accountSettings" active-class="dropdown-item-selected">
                    {{ __("Ustawienia") }}
                </BDropdownItem>
                <BDropdownItem href="#" @click.prevent="logout">
                    {{ __("Wyloguj") }}
                </BDropdownItem>
            </BNavItemDropdown>
        </BNavbarNav>
    </BCollapse>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VIcon from "../VIcon.vue";

    @Component({
        components: { VIcon }
    })
    export default class TheNavbarMenu extends Vue {

        /**
         * Routes for menu links.
         *
         * @type Object
         */
        private routes = {
            roles: { name: "roles" },
            districts: { name: "districts" },
            units: { name: "units" },
            users: { name: "users" },
            scouts: { name: "scouts" },
            settings: { name: "settings" },
            accountSettings: { name: "account.settings" }
        };

    }
</script>
