<template>
    <BNavbarBrand :to="{ name: 'home' }">
        <img src="/img/region_logo_small.png" alt="" />
        <strong class="lead ml-3 align-middle">
            {{ __("Platforma Składkowa") }}
        </strong>
    </BNavbarBrand>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class TheNavbarBrand extends Vue {}
</script>

<style lang="scss" scoped>
    .navbar-brand img {
        height: 48px;
    }
</style>
