<template>
    <div>
        <FormulateForm id="unit_form" name="unit_form" @submit="onSubmit">
            <VSection>
                <BRow>
                    <BCol lg="6" md="7">
                        <FormulateInput
                            v-model="formData.name"
                            class="text-white mb-0"
                            type="text"
                            name="name"
                            validation="required"
                            error-behavior="submit"
                            :label="__('Nazwa jednostki')"
                            :placeholder="__('Nazwa jednostki...')"
                        />
                    </BCol>
                    <BCol lg="6" md="5" class="mt-3 mt-md-0">
                        <DistrictSelect
                            v-model="formData.district"
                            :model-permission="allPermissions.district.create"
                        />
                    </BCol>
                </BRow>
            </VSection>
            <nav class="text-right mt-3">
                <VButton
                    type="submit"
                    icon="fas fa-check"
                    :text="__('Zapisz')"
                    button-class="submit-button"
                    :disabled="hasPendingRequests"
                />
            </nav>
        </FormulateForm>
    </div>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import VButton from "../../../components/VButton.vue";
    import { Option } from "../../../components/VFormulateSelectPaginated.vue";
    import VPageWindow from "../../../components/VPage/VPageWindow.vue";
    import VSection from "../../../components/VSection.vue";
    import DistrictSelect from "../../../components/VueFormulate/DistrictSelect.vue";
    import FormMixin, { SubmittedDataInterface } from "../../../mixins/FormMixin";
    import DistrictModel from "../../../models/District";
    import Unit from "../../../models/Unit";

    @Component({
        components: {
            DistrictSelect,
            VSection,
            VPageWindow,
            VButton
        }
    })
    export default class UnitForm extends mixins(FormMixin) {

        /**
         * The form data.
         *
         * @type Object
         */
        private formData = {
            name: "",
            district: null as DistrictModel|null
        }

        /**
         * On component created.
         *
         * @return {Promise<void>}
         */
        public async created(): Promise<void> {
            if (this.isEditForm) {
                const id = this.routeParam("unit")!;

                await this.withLoading(async () => {
                    this.showLoading();

                    const unit = await Unit.editRemote(id) as Unit;

                    this.formData = {
                        name: unit.name,
                        district: unit.district
                    };

                    this.hideLoading();
                });
            }
        }

        /**
         * The district select value.
         *
         * @return {Option}
         */
        public get value(): Option {
            const { district } = this.formData;

            if (district) {
                return {
                    id: district.id.toString(),
                    value: district.id.toString(),
                    label: district.name
                } as Option;
            }

            return {} as Option;
        }

        /**
         * Returns the data for submitting a form.
         *
         * @return {SubmittedDataInterface}
         */
        public getSubmittedData(): SubmittedDataInterface {
            const { name, district } = this.formData;
            const data = {
                name,
                district_id: district?.id
            };

            return {
                model: Unit,
                data
            };
        }

    }
</script>
