@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@each $breakpoint in map-keys($grid-breakpoints) {
    .w-#{$breakpoint}-100 {
        @include media-breakpoint-up($breakpoint) {
            width: 100% !important;
        }
    }

    .w-#{$breakpoint}-auto {
        @include media-breakpoint-up($breakpoint) {
            width: auto !important;
        }
    }

    .h-#{$breakpoint}-100 {
        @include media-breakpoint-up($breakpoint) {
            height: 100% !important;
        }
    }

    .h-#{$breakpoint}-auto {
        @include media-breakpoint-up($breakpoint) {
            height: auto !important;
        }
    }
}
