// Body
$body-bg: #f8fafc;

// The navbar
$navbar-height: 4.5rem;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Dropdowns
$dropdown-max-width: 300px;

// Colors
$green: #85a314;
$blue: #084ca1;
$purple: #5c3896;
$red: #ce181e;
$orange: #f58220;
$yellow: #efac1f;
$cyan: #05b6e6;

// Semantic colors
$primary: $green;
$success: $green;
$warning: $yellow;
$danger: $red;
$secondary: $purple;

// URLs
$background-small-url: "/img/background_small.png";
$background-medium-url: "/img/background_medium.png";
$background-large-url: "/img/background_large.png";

// Factors
$transparency-factor: 0.75;
$transparency-factor-dense: 0.9;
$transition-speed: 100ms;
$transition-scale-factor: 0.7;
$color-darken-factor: 10%;
$color-lighten-factor: 40%;
