// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Bootstrap Vue
@import "~bootstrap-vue/src/index";

// Font awesome
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Vue Formulate
@import "~@braid/vue-formulate/themes/snow/snow";

// Vue Loading Overlay
@import "~vue-loading-overlay/dist/vue-loading.css";

// Transitions
@import "transitions/all";

// Other component-related
@import "./card-menu";
@import "./tooltip";
@import "./pagination";
@import "./navbar";
@import "./dropdown";
@import "./vue-editor";

// Helpers
@import "helpers";

// Mandatory
html,
body {
    height: 100%;
}

// Main background
body {
    // Always load the small background first
    background-image: url($background-small-url);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    // Load the medium background
    @include media-breakpoint-up(md) {
        background-image: url($background-medium-url);
    }

    // Load  the large background
    @include media-breakpoint-up(xl) {
        background-image: url($background-large-url);
    }
}

.btn.btn-secondary {
    background-color: rgba($secondary, $transparency-factor);

    &:hover {
        background-color: $secondary;
    }
}

.bg-white-transparent {
    background-color: rgba($white, $transparency-factor);
}

.bg-white-transparent-dense {
    background-color: rgba($white, $transparency-factor-dense);
}

#bg-white-transparent-dense {
    background-color: rgba($white, $transparency-factor-dense);
}

@each $color, $value in $theme-colors {
    .bg-#{$color}-transparent {
        background-color: rgba($value, $transparency-factor);
    }

    .bg-#{$color}-transparent-dense {
        background-color: rgba($value, $transparency-factor-dense);
    }

    .bg-#{$color}-dark {
        background-color: darken($value, $color-darken-factor);
    }

    .bg-#{$color}-dark-transparent {
        background-color: darken(rgba($value, $transparency-factor), $color-darken-factor);
    }

    .bg-#{$color}-dark-transparent-dense {
        background-color: darken(rgba($value, $transparency-factor-dense), $color-darken-factor);
    }

    .bg-#{$color}-light-transparent {
        background-color: lighten(rgba($value, $transparency-factor), $color-lighten-factor);
    }

    .bg-#{$color}-light-transparent-dense {
        background-color: lighten(rgba($value, $transparency-factor-dense), $color-lighten-factor);
    }

    .border-#{$color}-light {
        border-color: lighten($value, $color-lighten-factor);
    }

    .text-#{$color}-50 {
        color: rgba($value, 0.5);
    }
}

.btn-outline-success {
    @extend .text-white;
    border-color: rgba($white, $transparency-factor);
}

.icon-link {
    color: $white;
    display: inline-block;
    transition: transform $transition-speed;

    @include media-breakpoint-up(md) {
        padding: $spacer / 2;
    }

    &:hover {
        color: $white;

        @include media-breakpoint-up(md) {
            transform: scale(1.2);
        }
    }
}

input:not([type="checkbox"]),
.b-form-datepicker,
textarea {
    @extend .text-dark;
    @extend .border-0;
    @extend .shadow-none;

    background-color: rgba($white, $transparency-factor) !important;
    transition: background-color linear $transition-speed !important;

    &:focus,
    &.show {
        background-color: $white !important;
    }
}

input[disabled] {
    opacity: 2 * $transparency-factor / 3 !important;
}

.submit-button {
    @extend .bg-success-dark-transparent;

    color: $white;

    &:hover,
    &:focus {
        color: $white;
        background-color: darken($success, $color-darken-factor * 1.25)
    }

    &:active {
        background-color: darken($success, $color-darken-factor * 1.5);
        box-shadow: 0 0 0.5rem darken($success, $color-darken-factor);
    }
}

.dropdown-item:hover {
    @extend .text-white;
    @extend .bg-success-transparent;
}

.dropdown-item-selected {
    a {
        @extend .text-white;
        @extend .bg-success-dark-transparent;
    }
}

.block-checkbox {
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x $dropdown-item-padding-y $dropdown-item-padding-x;

    &.active {
        @extend .text-white;
        @extend .bg-success-dark-transparent;

        &:hover {
            @extend .text-white;
            @extend .bg-success-transparent;
            cursor: pointer;
        }
    }

    &:hover {
        @extend .text-white;
        @extend .bg-success-transparent;
        cursor: pointer;
    }
}

.dropdown .block-checkbox {
    overflow: hidden;
    text-overflow: ellipsis;
    width: $dropdown-max-width;
}

.paginated-dropdown-item {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    & .dropdown-item {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.active {
        @extend .text-white;
        @extend .bg-success-dark-transparent;

        & .dropdown-item {
            @extend .text-white;
        }

        &:hover {
            @extend .text-white;
            @extend .bg-success-transparent;
            cursor: pointer;
        }
    }

    &:hover {
        @extend .text-white;
        @extend .bg-success-transparent;
        cursor: pointer;
    }
}

.dropdown .paginated-dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    width: $dropdown-max-width;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-toggle {
    @extend .bg-success-dark-transparent;
    @extend .shadow-sm;

    border: 1px solid darken($success, $color-darken-factor);

    &:hover,
    &:active,
    &.active,
    &:focus {
        @extend .bg-success-dark;
    }

    &.selected {
        @extend .bg-success-dark;

        &:hover {
            @extend .bg-success-dark;
        }
    }
}

.mw-90 {
    max-width: 90%;

    @include media-breakpoint-between(md, md) {
        max-width: 85%;
    }
}

.v-loading {
    transform: none !important;
    transition: opacity ease-in-out $transition-speed !important;
}

.text-small {
    font-size: 85%;
}
