@import "variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-up(lg) {
    .card-menu {
        opacity: 0;
        transition: opacity $transition-speed;
    }

    .card:hover .card-menu {
        opacity: 1;
    }
}
