@import "~bootstrap/scss/variables";
@import "variables";

.dropdown-menu {
    @extend .bg-white-transparent;

    &[x-placement="bottom-start"],
    &[x-placement="bottom-end"] {
        animation: dropdown-slide-down-animation ease-in-out $transition-speed;
    }

    &[x-placement="top-start"],
    &[x-placement="top-end"] {
        animation: dropdown-slide-up-animation ease-in-out $transition-speed;
    }
}

.dropdown {
    & > .dropdown-toggle > .icon {
        transition: transform ease-in-out $transition-speed;
    }

    &.show > .dropdown-toggle > .icon {
        transform: rotate(180deg) !important;
    }
}

.dropdown-item:hover {
    @extend .bg-success-transparent;
}

.reactive-toggle[aria-expanded="true"] {
    @extend .text-dark;
    @extend .bg-white-transparent
}

.reactive-toggle:hover {
    @extend .text-white;
}

.resource-dropdown-menu {
    font-size: 100%;
    background-color: rgba($success, $transparency-factor-dense) !important;

    & .dropdown-item,
    & .b-dropdown-text {
        @extend .text-white-50;
        padding-left: $spacer;
        padding-right: $spacer;
    }

    & .dropdown-item:hover {
        @extend .text-white;
        background-color: rgba(darken($success, $color-darken-factor / 2), $transparency-factor-dense) !important;
    }
}

@keyframes dropdown-slide-up-animation {
    0% {
        top: $spacer / 2;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes dropdown-slide-down-animation {
    0% {
        top: -$spacer / 2;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
