@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "variables";

.nav-link,
.navbar-text {
    color: rgba($white, $transparency-factor) !important;
}

.nav-link:hover {
    color: $white !important;
}

.active {
    color: $white !important;
}

.active-tab {
    color: #fff !important;
    transition: all $transition-speed;
}

.active-tab .nav-link {
    color: #fff !important;
    transition: all $transition-speed;
}
