@import "~bootstrap/scss/variables";
@import "variables";

.pagination-page > .page-item,
.pagination-page > .page-item > .page-link {
    @extend .bg-success-dark-transparent;
    color: $white;
    border: none;
}

.pagination-page > .page-item:not(.active) > .page-link:hover {
    @extend .bg-success-transparent;
}

.pagination-page > .page-item.disabled .page-link {
    color: $success;
}

.pagination-page > .page-item.active > .page-link {
    @extend .bg-success-transparent;
}

.pagination-select {
    color: $dark;
    overflow: hidden;
}

.pagination-select > .page-item .page-link {
    border-radius: 0;
}
