@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "variables";

.tooltip {
    animation: tooltip-slide-animation ease-in-out $transition-speed;
}

.tooltip > .tooltip-inner {
    color: darken($success, 20%);
    background-color: $white;
    @extend .shadow-sm;
}

.tooltip > .arrow:before {
    border-top-color: $white;
}

@keyframes tooltip-slide-animation {
    0% {
        top: - $spacer / 2;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
