@import "~bootstrap/scss/variables";
@import "variables";

.ql-picker-label[aria-expanded="true"] {
    color: $dark !important;
    border-color: $dark !important;

    & svg {
        color: $dark !important;
        border-color: $dark !important;
    }
}

.ql-editor {
    transition: background-color ease-in-out $transition-speed;

    &:focus {
        background-color: #fff !important;
    }
}
