<template>
    <div>
        <FormulateForm id="district_form" name="district_form" @submit="onSubmit">
            <VSection>
                <FormulateInput
                    v-model="formData.name"
                    class="text-white mb-0"
                    type="text"
                    name="name"
                    validation="required"
                    error-behavior="submit"
                    :placeholder="__('Nazwa hufca...')"
                    :label="__('Nazwa hufca')"
                />
                <div class="form-group mt-3" v-if="can(allPermissions.district.transfer_details.edit)">
                    <label for="transfer_details" @click.prevent="onTransferDetailsLabelClick">
                        {{ __("Szczegóły przelewu") }}
                    </label>
                    <VueEditor
                        v-model="formData.transfer_details"
                        :editor-toolbar="customToolbar"
                        id="transfer_details"
                        class="border-white rounded bg-white-transparent text-dark"
                        ref="transfer_details"
                    />
                </div>
            </VSection>
            <nav class="text-right mt-3">
                <VButton
                    type="submit"
                    icon="fas fa-check"
                    :text="__('Zapisz')"
                    button-class="submit-button"
                    :disabled="hasPendingRequests"
                />
            </nav>
        </FormulateForm>
    </div>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import VSection from "../../../components/VSection.vue";
    import FormMixin, { SubmittedDataInterface } from "../../../mixins/FormMixin";
    import District from "../../../models/District";
    import VButton from "../../../components/VButton.vue";
    import { VueEditor } from "vue2-editor";

    @Component({
        components: {
            VSection,
            VButton,
            VueEditor
        }
    })
    export default class DistrictForm extends mixins(FormMixin) {

        /**
         * The form data.
         *
         * @type Object
         */
        public formData = {
            name: "",
            transfer_details: ""
        }

        /**
         * Custom toolbar elements.
         *
         * @type {Array}
         */
        public customToolbar = [
            [{ header: [false, 1, 2, 3, 4, 5, 6] }],
            ["bold", "italic", "underline", "strike", "clean"],
            [{ list: "ordered" }, { list: "bullet" }]
        ];

        /**
         * On component created.
         *
         * @return {Promise<void>}
         */
        public async created(): Promise<void> {
            if (this.isEditForm) {
                const id = this.routeParam("district")!;

                this.showLoading();

                const district = await District.editRemote(id) as District;

                this.formData = {
                    name: district.name,
                    transfer_details: district.transfer_details
                };

                this.hideLoading();
            }
        }

        /**
         * Returns the data for submitting a form.
         *
         * @return {SubmittedDataInterface}
         */
        public getSubmittedData(): SubmittedDataInterface {
            const { name, transfer_details } = this.formData;
            const data = {
                name,
                transfer_details
            };

            return {
                model: District,
                data
            };
        }

        /**
         * On transfer details label click.
         *
         * @return {void}
         */
        public onTransferDetailsLabelClick(): void {
            (this.$refs["transfer_details"] as any).quill.focus();
        }

    }
</script>
