<template>
    <div>
        <FormulateForm
            v-model="formData"
            id="user_form"
            name="user_form"
            @submit="onSubmit"
        >
            <VSection>
                <BRow>
                    <BCol md="4">
                        <FormulateInput
                            class="text-white mb-0"
                            type="text"
                            name="name"
                            validation="required"
                            error-behavior="submit"
                            :label="__('Nazwa użytkownika')"
                            :placeholder="__('Nazwa użytkownika...')"
                        />
                    </BCol>
                </BRow>
                <BRow class="mt-3">
                    <BCol md="5">
                        <EmailAddress
                            name="email"
                            validation="required"
                            error-behavior="submit"
                            :placeholder="__('Adres e-mail...')"
                        />
                    </BCol>
                </BRow>
                <BRow>
                    <BCol md="4">
                        <Password
                            name="password"
                            :validation="isEditForm ? '' : 'required'"
                            error-behavior="submit"
                            :label="isEditForm ? __('Nowe hasło') : __('Hasło')"
                            :placeholder="isEditForm ? __('Nowe hasło...') : __('Hasło...')"
                        />
                    </BCol>
                    <BCol md="4">
                        <Password
                            name="password_confirmation"
                            :validation="isEditForm ? '' : 'required'"
                            error-behavior="submit"
                            :label="isEditForm ? __('Potwierdź nowe hasło') : __('Potwierdź hasło')"
                            :placeholder="isEditForm ? __('Potwierdź nowe hasło...') : __('Potwierdź hasło...')"
                        />
                    </BCol>
                </BRow>
                <BRow v-if="isEditForm" class="mb-3">
                    <BCol>
                        <small>
                            {{ __("Pozostaw pola puste, aby nie zmieniać hasła.") }}
                        </small>
                    </BCol>
                </BRow>
                <BRow>
                    <BCol md="4">
                        <span>
                            {{ __("Określ, czy użytkownik jest aktywny") }}
                        </span>
                        <FormulateInput
                            type="check"
                            name="active"
                            :text="__('Aktywny')"
                            :model="formData.active"
                            class="mt-2"
                        />
                    </BCol>
                </BRow>
                <BRow class="mt-3">
                    <BCol md="4">
                        <RoleSelect
                            name="roles"
                            :model-permission="allPermissions.user.assign.role"
                            multiselect
                        />
                    </BCol>
                </BRow>
                <BRow class="mt-3">
                    <BCol md="4">
                        <DistrictSelect
                            name="districts"
                            :model-permission="allPermissions.user.assign.district"
                            multiselect
                            validation=""
                        />
                    </BCol>
                    <BCol md="4" class="mt-3 mt-md-0">
                        <UnitSelect
                            name="units"
                            :model-permission="allPermissions.user.assign.unit"
                            multiselect
                            validation=""
                        />
                    </BCol>
                </BRow>
            </VSection>
            <nav class="text-right mt-3">
                <VButton
                    type="submit"
                    icon="fas fa-check"
                    :text="__('Zapisz')"
                    button-class="submit-button"
                    :disabled="hasPendingRequests"
                />
            </nav>
        </FormulateForm>
    </div>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import VButton from "../../../components/VButton.vue";
    import VSection from "../../../components/VSection.vue";
    import DistrictSelect from "../../../components/VueFormulate/DistrictSelect.vue";
    import EmailAddress from "../../../components/VueFormulate/EmailAddress.vue";
    import Password from "../../../components/VueFormulate/Password.vue";
    import RoleSelect from "../../../components/VueFormulate/RoleSelect.vue";
    import UnitSelect from "../../../components/VueFormulate/UnitSelect.vue";
    import FormMixin, { SubmittedDataInterface } from "../../../mixins/FormMixin";
    import District from "../../../models/District";
    import Role from "../../../models/Role";
    import Unit from "../../../models/Unit";
    import User from "../../../models/User";

    @Component({
        components: {
            RoleSelect,
            UnitSelect,
            Password,
            EmailAddress,
            DistrictSelect,
            VButton,
            VSection
        }
    })
    export default class UserForm extends mixins(FormMixin) {

        /**
         * The form data.
         *
         * @type Object
         */
        public formData = {
            name: "",
            active: ["active"],
            email: "",
            password: "",
            password_confirmation: "",
            roles: [] as Role[],
            districts: [] as District[],
            units: [] as Unit[]
        }

        /**
         * On component created.
         *
         * @return {Promise<void>}
         */
        public async created(): Promise<void> {
            if (this.isEditForm) {
                const id = this.routeParam("user")!;

                await this.withLoading(async () => {
                    this.showLoading();

                    const user = await User.editRemote(id) as User;

                    this.formData = {
                        name: user.name,
                        email: user.email,
                        password: "",
                        password_confirmation: "",
                        roles: user.roles,
                        districts: user.districts,
                        units: user.units,
                        active: user.active ? ["active"] : []
                    };

                    this.hideLoading();
                });
            }
        }

        /**
         * Returns the data for submitting a form.
         *
         * @return {SubmittedDataInterface}
         */
        public getSubmittedData(): SubmittedDataInterface {
            const {
                name,
                email,
                password,
                password_confirmation,
                roles,
                districts,
                units,
                active
            } = this.formData;

            const data = {
                name,
                email,
                password,
                password_confirmation,
                roles: roles.map((role) => role.id),
                districts: districts.map((district) => district.id),
                units: units.map((unit) => unit.id),
                active: active.includes("active")
            };

            return {
                model: User,
                data
            };
        }

    }
</script>
