<template>
    <BFormDatepicker
        v-bind="context.attributes || {}"
        v-on="$listeners"
        :value="context.model"
        :label-no-date-selected="__('Nie wybrano żadnej daty')"
        :label-reset-button="__('Resetuj')"
        class="form-control"
        reset-button
        @input="onChange"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop, Watch } from "vue-property-decorator";

    @Component
    export default class VFormulateDatepicker extends Vue {

        @Prop({ required: true })
        public context!: any;

        @Watch("context.value")
        public onContextValueChanged(date: string): void {
            this.context.model = date;
        }

        /**
         * On date change.
         *
         * @param {string|null} date
         * @return {void}
         */
        public onChange(date: string): void {
            this.context.model = date;
        }

    }
</script>
