<template>
    <aside class="py-1">
        <small class="text-uppercase mr-3" v-if="isSuperAdmin()">
            <span class="text-white-50 text-small">
                {{ __("Role") }}
            </span>
            <span class="ml-3">
                {{ user.roles_count }}
            </span>
        </small>
        <small class="text-uppercase mr-3">
            <span class="text-white-50 text-small">
                {{ __("Hufce") }}
            </span>
            <span class="ml-3">
                {{ user.districts_count }}
            </span>
        </small>
        <small class="text-uppercase">
            <span class="text-white-50 text-small">
                {{ __("Jednostki") }}
            </span>
            <span class="ml-3">
                {{ user.units_count }}
            </span>
        </small>
    </aside>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import User from "../../models/User";

    @Component
    export default class UserCardDetails extends Vue {

        @Prop({ required: true })
        public user!: User;

    }
</script>
