<template>
    <BContainer>
        <VPageWindow
            :title="__('Harcerze')"
            :description="description"
            collapse-id="scouts_menu"
        >
            <TwoColumns>
                <template v-slot:menu>
                    <VButton
                        v-if="can(allPermissions.scout.create)"
                        :text="__('Dodaj harcerza')"
                        button-class="submit-button w-100"
                        @click.prevent="redirectTo('scouts.create')"
                    />
                    <DropdownSelect
                        v-if="can(allPermissions.scout.archived.access)"
                        v-model="archived"
                        :label="__('Status')"
                        :options="[
                            { value: false, label: __('Aktywni') },
                            { value: true, label: __('Archiwizowani') }
                        ]"
                        class="mt-3 text-white"
                        @change="onStatusChange"
                    />
                    <DistrictSelect
                        v-model="districtFilter"
                        :model-permission="allPermissions.district.access"
                        :key="districtFilter ? districtFilter.id : null"
                        option-all
                        :default-toggle-button-text="__('Wszystkie hufce')"
                        class="mt-2 text-white"
                        @change="onDistrictFilterChange"
                    />
                    <UnitSelect
                        v-model="unitFilter"
                        :model-permission="allPermissions.unit.access"
                        :model-params="{ district_id: districtFilter ? districtFilter.id : null }"
                        :key="unitFilter ? unitFilter.id : null"
                        option-all
                        :default-toggle-button-text="__('Wszystkie jednostki')"
                        class="mt-3 text-white"
                        @change="onUnitFilterChange"
                    />
                    <DropdownSelect
                        v-if="can(allPermissions.scout.contribution.edit)"
                        v-model="contributionsDisplayMode"
                        :label="__('Przedstawienie składek')"
                        :options="[
                            { value: 'edit', label: __('Edycja') },
                            { value: 'show', label: __('Status') }
                        ]"
                        class="mt-3 text-white"
                    />
                </template>
                <Transition name="fade-and-scale-up" mode="out-in">
                    <ScoutCards
                        v-if="scouts.length > 0"
                        :scouts="scouts"
                        :pagination="pagination"
                        :request-scouts-function="requestScouts"
                        :contributions-display-mode="contributionsDisplayMode"
                    />
                    <ScoutEmpty
                        v-else-if="showResourceEmpty"
                    />
                </Transition>
            </TwoColumns>
        </VPageWindow>
    </BContainer>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import Router from "../../classes/Router";
    import DropdownSelect from "../../components/DropdownSelect.vue";
    import TwoColumns from "../../components/layouts/TwoColumns.vue";
    import VButton from "../../components/VButton.vue";
    import VPageWindow from "../../components/VPage/VPageWindow.vue";
    import DistrictSelect from "../../components/VueFormulate/DistrictSelect.vue";
    import UnitSelect from "../../components/VueFormulate/UnitSelect.vue";
    import PaginationInterface from "../../interfaces/PaginationInterface";
    import PaginationMixin from "../../mixins/PaginationMixin";
    import SearchingMixin from "../../mixins/SearchingMixin";
    import District from "../../models/District";
    import Pagination from "../../models/Pagination";
    import Scout from "../../models/Scout";
    import Unit from "../../models/Unit";
    import ScoutCard from "./ScoutCard.vue";
    import ScoutCards from "./ScoutCards.vue";
    import ScoutEmpty from "./ScoutEmpty.vue";

    export enum ContributionsDisplayMode {
        Edit = "edit",
        Show = "show"
    }

    @Component({
        components: {
            DropdownSelect,
            TwoColumns,
            VButton,
            UnitSelect,
            DistrictSelect,
            ScoutEmpty,
            ScoutCards,
            ScoutCard,
            VPageWindow
        }
    })
    export default class Index extends mixins(PaginationMixin, SearchingMixin) {

        /**
         * District filter.
         *
         * @type {District|null}
         */
        public districtFilter: District | null = null;

        /**
         * Unit filter.
         *
         * @type {Unit|null}
         */
        public unitFilter: Unit | null = null;

        /**
         * Whether to show archived scouts.
         *
         * @type {boolean}
         */
        public archived: boolean = false;

        /**
         * The display mode of contributions.
         *
         * @type {string}
         */
        public contributionsDisplayMode = "edit";

        /**
         * On component created.
         *
         * @return {Promise<void>}
         */
        public async created(): Promise<void> {
            return this.withLoading(async () => {
                const districtId = Router.getDistrictId();
                const unitId = Router.getUnitId();
                const archived = Router.getArchived();

                await this.requestScouts();

                if (districtId) {
                    this.districtFilter = await District.getRemote(districtId);
                }

                if (unitId) {
                    this.unitFilter = await Unit.getRemote(unitId);
                }

                this.archived = !!archived;

                this.firstSearch = true;
            });
        }

        /**
         * Returns the page description.
         *
         * @return {string}
         */
        public get description(): string {
            return this.$lang("Zarządzaj harcerzami w hufcach i jednostkach.");
        }

        /**
         * Returns an array of scouts.
         *
         * @return {Scout[]}
         */
        public get scouts(): Scout[] {
            return Scout.orderByDisplayName();
        }

        /**
         * Returns pagination data.
         *
         * @return {PaginationInterface}
         */
        public get pagination(): PaginationInterface {
            return Pagination.for(Scout);
        }

        /**
         * Handle searching the resource.
         *
         * @return {Promise<void>}
         */
        public async onSearch(): Promise<void> {
            await this.requestScouts();
        }

        /**
         * Handle the page change.
         *
         * @param {number} page
         * @return {Promise<void>}
         */
        public async onPageChange(page: number): Promise<void> {
            await this.requestScouts();
        }

        /**
         * On district filter change.
         *
         * @param {District|null} district
         * @return {Promise<void>}
         */
        public async onDistrictFilterChange(district: District | null): Promise<void> {
            return this.withLoading(async () => {
                this.unitFilter = null;

                await Router.setDistrictId(district ? district.id : null);

                await this.requestScouts();
            });
        }

        /**
         * On unit filter change.
         *
         * @param {Unit|null} unit
         * @return {Promise<void>}
         */
        public async onUnitFilterChange(unit: Unit | null): Promise<void> {
            return this.withLoading(async () => {
                await Router.setUnitId(unit ? unit.id : null);

                await this.requestScouts();
            });
        }

        /**
         * On scout status change.
         *
         * @param {Object} option
         * @return {Promise<void>}
         */
        public async onStatusChange(option: any): Promise<void> {
            return this.withLoading(async () => {
                await Router.setArchived(option.value as boolean);

                await this.requestScouts();
            });
        }

        /**
         * Requests all scouts from the server.
         *
         * @return {Promise<void>}
         */
        public async requestScouts(): Promise<void> {
            await Scout.index({
                district_id: Router.getDistrictId(),
                unit_id: Router.getUnitId(),
                archived: Router.getArchived() ? 1 : 0
            });
        }

    }
</script>
