<template>
    <div>
        <template v-for="year of profile.years">
            <div class="d-inline-block align-middle">
                <div class="d-inline-block mr-3 text-white-50">
                    <small class="d-inline-block text-small">
                        {{ year }}
                    </small>
                </div>
                <Transition name="fade-and-scale-up" mode="out-in">
                    <div class="d-inline-block align-middle mr-3" :key="contributionsDisplayMode">
                        <template v-if="contributionsDisplayMode === 'edit'">
                            <ScoutCardContributionCheckbox
                                v-for="quarter of [1, 2, 3, 4]"
                                :key="profile.getKey(year, quarter)"
                                :checked="profile.isContributionPaidFor(year, quarter)"
                                label-class="d-inline-block p-0"
                                v-tooltip="__('Kwartał :quarter', { quarter })"
                                @change="onContributionCheckboxChange(year, quarter, $event)"
                            />
                        </template>
                        <template v-else>
                            <ScoutCardContributionStatus
                                v-for="quarter of [1, 2, 3, 4]"
                                :key="profile.getKey(year, quarter)"
                                :status="profile.getContributionStatusFor(year, quarter)"
                                v-tooltip="statusTooltip(year, quarter)"
                            />
                        </template>
                    </div>
                </Transition>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import ContributionsProfile from "../../classes/ContributionsProfile";
    import Contribution from "../../models/Contribution";
    import Scout from "../../models/Scout";
    import { ContributionsDisplayMode } from "./Index.vue";
    import ScoutCardContributionCheckbox from "./ScoutCardContributionCheckbox.vue";
    import ScoutCardContributionStatus from "./ScoutCardContributionStatus.vue";
    import contributions_statuses from "../../../json/contributions_statuses.json";

    @Component({
        components: {
            ScoutCardContributionStatus,
            ScoutCardContributionCheckbox
        }
    })
    export default class ScoutCardContributions extends Vue {

        @Prop({ required: true })
        public profile!: ContributionsProfile;

        @Prop({ default: "show" })
        public contributionsDisplayMode!: ContributionsDisplayMode;

        /**
         * On contribution checkbox change.
         *
         * @param {number} year
         * @param {number} quarter
         * @param {boolean} value
         * @return {Promise<void>}
         */
        public async onContributionCheckboxChange(year: number, quarter: number, value: boolean): Promise<void> {
            await Contribution.updateRemote({
                scout_id: this.profile.scout_id,
                year: year,
                quarter: quarter,
                paid: value
            }).then((response: any) => {
                const contributionsProfile = new ContributionsProfile(response.response.data);
                const scout = Scout.find(contributionsProfile.scout_id);

                if (scout) {
                    scout.$update({
                        contributions_profile: contributionsProfile
                    });
                }
            });
        }

        /**
         * Returns tooltip description for contribution status.
         *
         * @param {number} year
         * @param {number} quarter
         * @return {string}
         */
        public statusTooltip(year: number, quarter: number): string {
            const status = this.profile.getContributionStatusFor(year, quarter);
            let tooltip = this.$lang("Kwartał :quarter (nie dotyczy)", { quarter });

            switch (status) {
                case contributions_statuses.paid:
                    tooltip = this.$lang("Kwartał :quarter opłacony", { quarter });
                    break;
                case contributions_statuses.unpaid:
                    tooltip = this.$lang("Kwartał :quarter nieopłacony", { quarter });
                    break;
            }

            return tooltip;
        }

    }
</script>
