<template>
    <label :class="labelClass + ' mb-0'">
        <input
            type="checkbox"
            v-model="isChecked"
            @change="onChange"
        >
        <VIcon
            v-if="isChecked"
            key="checked"
            icon="fas fa-check-square"
            class="scout-contribution-checkbox"
            disable-rotation
        />
        <VIcon
            v-else
            key="unchecked"
            icon="far fa-square"
            class="scout-contribution-checkbox"
            disable-rotation
        />
    </label>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop, Watch } from "vue-property-decorator";
    import VIcon from "../../components/VIcon.vue";

    @Component({
        components: { VIcon }
    })
    export default class ScoutCardContributionCheckbox extends Vue {

        @Prop({ default: undefined })
        public labelClass?: string;

        @Prop({ default: false })
        public checked!: boolean;

        @Watch("checked")
        public onCheckedChanged(value: boolean): void {
            this.isChecked = value;
        }

        /**
         * Whether the checkbox is checked.
         *
         * @type boolean
         */
        public isChecked = this.checked;

        /**
         * On checkbox value checked.
         *
         * @return {void}
         */
        public onChange(): void {
            this.$emit("change", this.isChecked);
        }

    }
</script>

<style lang="scss" scoped>
    @import "resources/sass/variables";

    .scout-contribution-checkbox {
        display: inline-block;
        font-size: 110%;
        transition-duration: $transition-speed / 2;

        &:hover {
            transform: scale(1.2) !important;
        }
    }

    :root {
        label {
            position: relative;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer !important;
            }
        }

        input {
            position: absolute;
            opacity: 0;

            &:hover ~ .scout-contribution-checkbox {
                transform: scale(1.2) !important;
            }
        }
    }
</style>
