<template>
    <div>
        <aside class="d-flex my-1">
            <small class="mr-3" v-tooltip="__('Data dołączenia do ZHP')">
                <span class="text-white-50 text-small">
                    {{ __("DD") }}
                </span>
                <span class="ml-3">
                    {{ joinedAt }}
                </span>
            </small>
            <small class="mr-3" v-tooltip="__('Data wystąpienia z ZHP')">
                <span class="text-white-50 text-small">
                    {{ __("DW") }}
                </span>
                <span class="ml-3">
                    {{ quitAt }}
                </span>
            </small>
            <small v-if="scout.remarks" class="ml-auto">
                <span class="font-italic">
                    {{ scout.remarks }}
                </span>
            </small>
        </aside>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import Scout from "../../models/Scout";

    @Component
    export default class ScoutCardDetails extends Vue {

        @Prop({ required: true })
        public scout!: Scout;

        /**
         * Options for localized date format.
         *
         * @type {Intl.DateTimeFormatOptions}
         */
        public dateFormatOptions: Intl.DateTimeFormatOptions = {
            year: "numeric",
            month: "long",
            day: "numeric",
            weekday: "long"
        };

        /**
         * Returns pretty formatted joined at date.
         *
         * @return {string}
         */
        public get joinedAt(): string {
            return this.scout.joined_at
                ? new Date(this.scout.joined_at!).toLocaleDateString(undefined, this.dateFormatOptions)
                : "-";
        }

        /**
         * Returns pretty formatted joined at date.
         *
         * @return {string}
         */
        public get quitAt(): string {
            return this.scout.quit_at
                ? new Date(this.scout.quit_at!).toLocaleDateString(undefined, this.dateFormatOptions)
                : "-";
        }

    }
</script>
