<template>
    <section class="container d-flex flex-column h-100 text-white py-3">
        <div class="my-auto">
            <LoginHeader />
            <LoginMain />
        </div>
    </section>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import LoginHeader from "./LoginHeader.vue";
    import LoginMain from "./LoginMain.vue";

    @Component({
        components: {
            LoginMain,
            LoginHeader
        }
    })
    export default class Login extends Vue {
        public name = "Login";
    }
</script>
