<template>
    <header>
        <BNav class="mb-2">
            <BNavText class="text-left mr-auto">
                <VSpinner />
            </BNavText>
            <BNavItem
                :to="{ name: 'home' }"
                class="text-white text-right"
            >
                {{ __("Powrót") }}
            </BNavItem>
        </BNav>
    </header>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VIcon from "../../components/VIcon.vue";
    import VSpinner from "../../components/VSpinner.vue";

    @Component({
        components: {
            VSpinner,
            VIcon
        }
    })
    export default class LoginHeader extends Vue {}
</script>
