<template>
    <main class="jumbotron py-5 shadow">
        <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
                <VAppLogo />
            </div>
            <div class="col-lg-7">
                <h1 class="text-center text-lg-left">
                    <VIcon icon="fas fa-lock-open" class="mr-2" />
                    {{ __("Zaloguj się") }}
                </h1>
                <p class="text-justify mt-4 mb-0">
                    {{ __("Znajdujesz się na Platformie Składkowej Chorągwi Ziemi Lubuskiej ZHP. Ta część Platformy przeznaczona jest dla administratorów oraz drużynowych. Zaloguj się, aby przejść dalej. ") }}
                </p>
                <div class="row mt-4">
                    <div class="col-lg-7 text-left">
                        <LoginForm />
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VAppLogo from "../../components/VAppLogo.vue";
    import VIcon from "../../components/VIcon.vue";
    import LoginForm from "./LoginForm.vue";

    @Component({
        components: {
            LoginForm,
            VIcon,
            VAppLogo
        }
    })
    export default class LoginMain extends Vue {

    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/variables";
    @import "bootstrap";

    .jumbotron {
        color: #ffffff;
        background-color: rgba($primary, $transparency-factor);

        h1 {
            font-weight: bold;
        }
    }
</style>
