<template>
    <BContainer>
        <VPageWindow
            :title="__('Ustawienia konta')"
            :description="__('Zarządzaj ustawieniami swojego konta w Platformie.')"
            collapse-id="account_settings_menu"
        >
            <VSection>
                <FormulateForm
                    v-model="formData"
                    id="settings_form"
                    name="settings_form"
                    @submit="onSubmit"
                >
                    <h4 class="mb-3">
                        {{ __("Zmień hasło") }}
                    </h4>
                    <BRow>
                        <BCol md="6">
                            <Password
                                name="current_password"
                                :label="__('Aktualne hasło')"
                                :placeholder="__('Aktualne hasło...')"
                            />
                            <Password
                                name="new_password"
                                :label="__('Nowe hasło')"
                                :placeholder="__('Nowe hasło...')"
                            />
                            <Password
                                name="new_password_confirmation"
                                :label="__('Potwierdź nowe hasło')"
                                :placeholder="__('Potwierdź nowe hasło...')"
                            />
                            <VButton
                                type="submit"
                                :text="__('Zapisz')"
                                icon="fas fa-check"
                                class="submit-button mt-3"
                            />
                        </BCol>
                    </BRow>
                </FormulateForm>
            </VSection>
        </VPageWindow>
    </BContainer>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import VButton from "../../components/VButton.vue";
    import VPageWindow from "../../components/VPage/VPageWindow.vue";
    import VSection from "../../components/VSection.vue";
    import Password from "../../components/VueFormulate/Password.vue";
    import FormMixin, { SubmittedDataInterface } from "../../mixins/FormMixin";
    import Account from "../../models/Account";

    @Component({
        components: {
            VButton,
            VSection,
            Password,
            VPageWindow
        }
    })
    export default class Index extends mixins(FormMixin) {

        /**
         * The form data.
         *
         * @type {Object}
         */
        public formData = {
            current_password: "",
            new_password: "",
            new_password_confirmation: ""
        };

        /**
         * Checks whether the form is in edit mode.
         *
         * @return {boolean}
         */
        public get isEditForm(): boolean {
            return true;
        }

        /**
         * Returns the data for submitting a form.
         *
         * @return {SubmittedDataInterface}
         */
        public getSubmittedData(): SubmittedDataInterface {
            return {
                model: Account,
                data: this.formData
            };
        }

    }
</script>
