<template>
    <div class="dropdown">
        <a
            href="#"
            class="dropdown-toggle dropdown-toggle-no-caret resource-dropdown-toggle"
            :id="id"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            @click.prevent
        >
            <VIcon
                icon="fas fa-ellipsis-v"
                disable-rotation
            />
        </a>
        <ul class="dropdown-menu dropdown-menu-right resource-dropdown-menu shadow-sm" :aria-labelledby="id">
            <BDropdownText class="text-white-50 small text-uppercase mb-2">
                {{ __("Opcje") }}
            </BDropdownText>
            <BDropdownDivider />
            <slot />
        </ul>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VIcon from "./VIcon.vue";

    @Component({
        components: { VIcon }
    })
    export default class ResourceDropdownMenu extends Vue {

        @Prop({ required: true })
        public id!: string;

        @Prop({ default: true })
        public show!: boolean;

    }
</script>

<style lang="scss" scoped>
    @import "resources/sass/variables";

    .dropdown-divider {
        border-color: darken($success, $color-darken-factor / 2) !important;
    }

    .resource-dropdown-toggle {
        color: rgba(#fff, 0.5);

        &:hover {
            color: #fff;
            cursor: pointer;
        }

        &[aria-expanded="true"] {
            color: #fff;
        }
    }
</style>
