<template>
    <BModal
        v-model="show"
        ok-only
        centered
        content-class="bg-transparent shadow border-dark"
        header-class="bg-white-transparent-dense text-light align-items-center"
        body-class="bg-light-transparent-dense"
        footer-class="bg-white-transparent-dense"
    >
        <template v-slot:modal-header="{ close }">
            <h5 class="py-2 px-md-2 mb-0 text-danger">
                <VIcon
                    icon="fas fa-exclamation-triangle"
                    class="mr-2"
                />
                {{ getModalTitle() }}
            </h5>
        </template>
        <div class="px-md-2">
            <p>
                {{ getModalMessage() }}
            </p>
            <ul>
                <li v-for="error of errors">
                    {{ error }}
                </li>
            </ul>
        </div>
        <template v-slot:modal-footer="{ close }">
            <VButton
                :text="__('Zamknij')"
                class="btn-outline-danger"
                @click="close"
            />
        </template>
    </BModal>
</template>

<script lang="ts">
    import { BModal } from "bootstrap-vue";
    import Vue from "vue";
    import Component from "vue-class-component";
    import { EVENT_ERROR_INPUT } from "../event-bus";
    import VButton from "./VButton.vue";
    import VIcon from "./VIcon.vue";

    @Component({
        components: {
            VButton,
            VIcon,
            BModal
        }
    })
    export default class TheInputErrorModal extends Vue {

        /**
         * Whether to show the modal.
         *
         * @type boolean
         */
        public show = false;

        /**
         * Array of error messages.
         *
         * @type string[]
         */
        public errors: string[] = [];

        /**
         * On component created
         *
         * @return void
         */
        public created(): void {
            this.$eventBus.$on(EVENT_ERROR_INPUT, this.onInputError);
        }

        /**
         * Before the component is destroyed.
         *
         * @return void
         */
        public beforeDestroy(): void {
            this.$eventBus.$off(EVENT_ERROR_INPUT, this.onInputError);
        }

        /**
         * Handles the input error.
         *
         * @private
         * @param {string[]} errors
         * @return void
         */
        private onInputError(errors: string[]): void {
            this.errors = errors;
            this.show = true;
        }

        /**
         * Returns modal title.
         *
         * @private
         * @return string
         */
        private getModalTitle(): string {
            return this.$lang("Nieprawidłowe dane");
        }

        /**
         * Returns modal message indicating input error.
         *
         * @private
         * @return string
         */
        private getModalMessage(): string {
            return this.$lang("Zapoznaj się z poniższymi komunikatami i skoryguj błędy.");
        }

    }
</script>
