<template>
    <figure class="figure logo-figure mx-auto my-0">
        <img
            src="/img/logo_region_horizontal_medium.png"
            :alt="__('Chorągiew Ziemi Lubuskiej ZHP')"
            class="d-block d-lg-none figure-img w-100 mb-4"
        />
        <img
            src="/img/region_logo_large.png"
            :alt="__('Chorągiew Ziemi Lubuskiej ZHP')"
            class="d-none d-lg-block figure-img w-100 m-0 p-0"
        />
    </figure>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class VAppLogo extends Vue {}
</script>

<style lang="scss" scoped>
    @import "~bootstrap";

    .logo-figure {
        @include media-breakpoint-between(xs, xl) {
            width: 75%;
        }

        @include media-breakpoint-up(xl) {
            width: 65%;
        }
    }
</style>
