<template>
    <label
        :class="context.classes.element"
        :data-type="context.type"
    >
        <input
            type="checkbox"
            :value="value"
            :checked="value"
            v-bind="context.attributes || {}"
            v-on="$listeners"
            @blur="context.blurHandler"
            @change="onChange"
        >
        <VIcon icon="far fa-square fa-md" />
        <VIcon icon="fas fa-check-square fa-md" />
        <span v-if="context.attributes['text']" class="ml-2">
            {{ context.attributes['text'] }}
        </span>
    </label>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VIcon from "./VIcon.vue";

    @Component({
        components: { VIcon }
    })
    export default class VCheckbox extends Vue {

        @Prop({ required: true })
        public context!: any;

        /**
         * Returns the checkbox model which can be either an object
         * or an array of other checkbox values.
         *
         * @private
         * @return {object|string[]}
         */
        private get checkboxModel(): object | string[] {
            return this.context.attributes["model"];
        }

        /**
         * Returns the checkbox name attribute given as parameter.
         *
         * @private
         * @return {string}
         */
        private get checkboxName(): string {
            return this.context.attributes["name"];
        }

        /**
         * Returns the value of checkbox (true or false).
         *
         * @private
         * @return {boolean}
         */
        private get value(): boolean {
            const model = this.checkboxModel as any;
            const name = this.checkboxName;

            return Array.isArray(model)
                ? model.includes(name)
                : !!model[name];
        }

        /**
         * When the checkbox value is changed.
         *
         * @private
         * @return {void}
         */
        private onChange(): void {
            const model = this.checkboxModel as any;
            const name = this.checkboxName;
            const checked = !(typeof model[name] === "boolean" && model[name]);

            if (Array.isArray(model)) {
                // If the model to change is an array of elements then we assume it is
                // also an array for other checkboxes, therefore we either append our
                // value, or remove it from the array if already exists.
                const index = model.indexOf(name);

                if (index >= 0) {
                    model.splice(index, 1);
                } else {
                    model.push(name);
                }
            } else {
                // When model is an object, we store the checkbox value in an attribute
                // corresponding with the checkbox name.
                model[name] = checked;
            }
        }

    }
</script>

<style lang="scss" scoped>
    @import "resources/sass/variables";

    :root {
        label {
            position: relative;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer !important;
            }
        }

        .far.fa-square {
            position: relative;
            opacity: 1;
            transition: all linear $transition-speed / 2;
        }

        .fas.fa-check-square {
            position: absolute;
            opacity: 0;
            transition: all linear $transition-speed / 2;
        }

        input {
            position: absolute;
            opacity: 0;

            &:checked ~ .fas.fa-check-square {
                position: relative;
                opacity: 1;
            }

            &:checked ~ .far.fa-square {
                position: absolute;
                opacity: 0;
            }

            &:hover ~ .icon {
                transform: scale(1.2) !important;
            }
        }
    }
</style>
