<template>
    <BNavbarToggle :target="target" :label="__('Menu')">
        <template v-slot:default="{ expanded }">
            <VIcon :icon="iconClass(expanded)" />
        </template>
    </BNavbarToggle>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VIcon from "./VIcon.vue";

    @Component({
        components: { VIcon }
    })
    export default class VNavbarToggle extends Vue {

        @Prop({ required: true })
        public target!: string;

        /**
         * Returns the VIcon component class string.
         *
         * @private
         * @param {boolean} expanded
         * @return {string}
         */
        private iconClass(expanded: boolean): string {
            return expanded ? "fas fa-times" : "fas fa-bars";
        }

    }
</script>
