<template>
    <section class="text-center text-white bg-transparent mt-3 mt-md-5">
        <article>
            <Transition name="fade-and-scale-up">
                <div v-if="showContent">
                    <VIcon :icon="icon" class="display-1" />
                </div>
            </Transition>
            <Transition name="fade-and-scale-up">
                <h2 v-if="showContent" class="message-content mt-3 mt-md-5">
                    <slot name="message" />
                </h2>
            </Transition>
            <Transition name="fade-and-scale-up">
                <p v-if="showContent" class="lead lead-content" style="transition-delay: 200ms;">
                    <slot name="lead" />
                </p>
            </Transition>
        </article>
    </section>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VIcon from "./VIcon.vue";

    @Component({
        components: { VIcon }
    })
    export default class VResourceNotFound extends Vue {

        /**
         * The Font Awesome icon to display.
         *
         * @type string
         */
        @Prop({ required: true })
        public icon!: string;

        /**
         * Whether to show component content.
         *
         * @type boolean
         */
        private showContent: boolean = false;

        /**
         * On component mounted.
         *
         * @return {void}
         */
        public mounted(): void {
            this.showContent = true;
        }

    }
</script>

<style lang="scss" scoped>
    @import "resources/sass/variables";

    .message-content {
        transition-delay: $transition-speed;
    }

    .lead-content {
        transition-delay: 2 * $transition-speed;
    }
</style>
