<template>
    <BSpinner
        v-if="hasPendingRequests"
        :label="__('Wczytywanie')"
        small
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class VSpinner extends Vue {}
</script>
