<template>
    <aside class="my-1">
        <small class="text-uppercase mr-3" v-if="isSuperAdmin()">
            <span class="text-white-50 text-small">
                {{ __("Użytkownicy") }}
            </span>
            <span class="ml-3">
                {{ district.users_count }}
            </span>
        </small>
        <small class="text-uppercase mr-3">
            <span class="text-white-50 text-small">
                {{ __("Jednostki") }}
            </span>
            <span class="ml-3">
                {{ district.units_count }}
            </span>
        </small>
        <small class="text-uppercase">
            <span class="text-white-50 text-small">
                {{ __("Harcerze") }}
            </span>
            <span class="ml-3">
                {{ district.scouts_count }}
            </span>
        </small>
    </aside>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VIcon from "../../components/VIcon.vue";
    import District from "../../models/District";

    @Component({
        components: { VIcon }
    })
    export default class DistrictCardDetails extends Vue {

        @Prop({ required: true })
        public district!: District;

    }
</script>
