<template>
    <BContainer>
        <VPageWindow
            :title="__('Hufce')"
            :description="__('Zarządzaj hufcami - dodawaj nowe, edytuj i usuwaj istniejące.')"
            collapse-id="districts_menu"
        >
            <TwoColumns>
                <template v-slot:menu>
                    <VButton
                        v-if="can(allPermissions.district.create)"
                        :text="__('Dodaj hufiec')"
                        button-class="submit-button w-100"
                        @click.prevent="redirectTo('districts.create')"
                    />
                </template>
                <Transition name="fade-and-scale-up" mode="out-in">
                    <DistrictCards
                        v-if="districts.length"
                        :districts="districts"
                        :pagination="pagination"
                    />
                    <DistrictEmpty
                        v-else-if="showResourceEmpty"
                    />
                </Transition>
            </TwoColumns>
        </VPageWindow>
    </BContainer>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import TwoColumns from "../../components/layouts/TwoColumns.vue";
    import VButton from "../../components/VButton.vue";
    import VPageWindow from "../../components/VPage/VPageWindow.vue";
    import PaginationInterface from "../../interfaces/PaginationInterface";
    import PaginationMixin from "../../mixins/PaginationMixin";
    import SearchingMixin from "../../mixins/SearchingMixin";
    import District from "../../models/District";
    import Pagination from "../../models/Pagination";
    import DistrictCards from "./DistrictCards.vue";
    import DistrictEmpty from "./DistrictEmpty.vue";

    @Component({
        components: {
            VButton,
            TwoColumns,
            DistrictEmpty,
            DistrictCards,
            VPageWindow
        }
    })
    export default class Index extends mixins(PaginationMixin, SearchingMixin) {

        /**
         * On component created.
         *
         * @return {Promise<void>}
         */
        public async created(): Promise<void> {
            return this.withLoading(async () => {
                await District.index();

                this.firstSearch = true;
            });
        }

        /**
         * Returns an array of districts.
         *
         * @return {District[]}
         */
        public get districts(): District[] {
            return District.orderByName();
        }

        /**
         * Returns pagination data.
         *
         * @return {PaginationInterface}
         */
        public get pagination(): PaginationInterface {
            return Pagination.for(District);
        }

        /**
         * Handles the search event.
         *
         * @return {Promise<void>}
         */
        public async onSearch(): Promise<void> {
            await District.index();
        }

        /**
         * Handles the page change.
         *
         * @return {Promise<void>}
         */
        public async onPageChange(): Promise<void> {
            await District.index();
        }

    }
</script>
