<template>
    <BContainer>
        <VPageWindow
            :title="__('Ustawienia')"
            :description="__('Zarządzaj ustawieniami Platformy Składkowej.')"
            collapse-id="scouts_menu"
        >
            <BRow class="mt-3">
                <BCol md="3">
                    <VSection class="bg-success-dark-transparent" padding="2">
                        <BNav class="flex-nowrap m-0" vertical>
                            <BNavText class="text-uppercase px-3">
                                {{ __("Kategorie") }}
                            </BNavText>
                            <BNavItem
                                v-for="category of categories"
                                :key="'settings-tab-' + category.name"
                                :active="isTabActive(category.name)"
                                @click.prevent="onCategoryItemClick(category.name)"
                            >
                                <div class="w-100 d-flex justify-content-between align-items-center align-content-center">
                                    {{ category.label }}
                                    <VIcon icon="fas fa-angle-right" :class="{ 'icon-hidden': !isTabActive(category.name) }" />
                                </div>
                            </BNavItem>
                        </BNav>
                    </VSection>
                </BCol>
                <BCol md="9" class="mt-3 mt-md-0">
                    <Transition name="fade" mode="out-in">
                        <div v-if="$route.query.tab" :key="'tab-' + $route.query.tab">
                            <VSection>
                                <h4 class="mb-3">
                                    <VIcon :icon="selectedCategory.icon" class="mr-2" />
                                    {{ selectedCategory.label }}
                                </h4>
                                <component :is="selectedCategory.component" />
                            </VSection>
                        </div>
                        <div v-else :key="'no-tab'">
                            <VSection>
                                <p class="m-0">
                                    {{ __("Wybierz kategorię ustawień z menu.") }}
                                </p>
                            </VSection>
                        </div>
                    </Transition>
                </BCol>
            </BRow>
        </VPageWindow>
    </BContainer>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import VButton from "../../components/VButton.vue";
    import VIcon from "../../components/VIcon.vue";
    import VPageWindow from "../../components/VPage/VPageWindow.vue";
    import VSection from "../../components/VSection.vue";
    import SettingsAmounts from "./SettingsAmounts.vue";
    import SettingsMain from "./SettingsMain.vue";

    @Component({
        components: {
            VButton,
            VIcon,
            VSection,
            VPageWindow
        }
    })
    export default class Index extends Vue {

        /**
         * The settings categories.
         *
         * @type {Array<Object>}
         */
        public categories = [
            {
                name: "main",
                icon: "fas fa-cog",
                label: this.$lang("Główne"),
                component: SettingsMain
            },
            {
                name: "amounts",
                icon: "fas fa-coins",
                label: this.$lang("Kwoty składek"),
                component: SettingsAmounts
            }
        ];

        /**
         * Currently selected settings category.
         *
         * @type {string}
         */
        public selectedCategory = this.categories[0];

        /**
         * On component created.
         *
         * @return {void}
         */
        public created(): void {
            const tab = this.$route.query.tab;

            if (typeof tab !== "undefined") {
                const category = this.categories.find((category) => category.name === tab);

                if (category) {
                    this.selectedCategory = category;
                }
            }
        }

        /**
         * Checks whether given tab is active or not.
         *
         * @param {string} key
         * @return {boolean}
         */
        public isTabActive(key: string): boolean {
            return (this.$route.query.tab === key);
        }

        /**
         * On role nav item click.
         *
         * @param {string} key
         * @return {void}
         */
        public onCategoryItemClick(key: string): void {
            if (key === this.$route.query.tab) {
                return;
            }

            this.selectedCategory = this.categories.find((category) => category.name === key)!;

            this.$router.replace({
                query: {
                    tab: key
                }
            });
        }

    }
</script>

<style lang="scss" scoped>
    @import "resources/sass/variables";

    .icon {
        transition: all $transition-speed;
    }

    .icon-hidden {
        opacity: 0;
        margin-right: 5% !important;
    }
</style>
