<template>
    <BRow>
        <BCol md="4" lg="3" v-if="showLeftColumn">
            <BNavbar class="p-0" toggleable="md" type="dark">
                <BCollapse
                    class="two-columns-nav-collapse"
                    id="two-columns-nav-collapse"
                    tag="div"
                    is-nav
                >
                    <div class="mb-3 mb-md-0 w-100">
                        <slot name="menu" />
                    </div>
                </BCollapse>
                <VNavbarToggle
                    target="two-columns-nav-collapse"
                    class="text-white border-white w-100"
                />
            </BNavbar>
        </BCol>
        <BCol :md="showLeftColumn ? 8 : 12" :lg="showLeftColumn ? 9 : 12" class="mt-3 mt-md-0">
            <VPageMenuSearch
                v-if="showSearchInput"
                class="w-100 mb-3"
            />
            <slot />
        </BCol>
    </BRow>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VButton from "../VButton.vue";
    import VNavbarToggle from "../VNavbarToggle.vue";
    import VPageMenuSearch from "../VPage/VPageMenuSearch.vue";
    import VSection from "../VSection.vue";

    @Component({
        components: {
            VNavbarToggle,
            VButton,
            VPageMenuSearch,
            VSection
        }
    })
    export default class TwoColumns extends Vue {

        @Prop({ default: true })
        public showSearchInput!: boolean;

        /**
         * Whether to show the left column or not.
         *
         * @return {boolean}
         */
        public get showLeftColumn(): boolean {
            const menuSlot = this.$slots["menu"];

            return (Array.isArray(menuSlot) && menuSlot.length > 0);
        }

    }
</script>
