<template>
    <ResourceEmpty
        :messages-empty="messagesEmpty"
        :messages-not-found="messagesNotFound"
        :leads-empty="leadsEmpty"
        :leads-not-found="leadsNotFound"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import ResourceEmpty from "../../components/ResourceEmpty.vue";

    @Component({
        components: { ResourceEmpty }
    })
    export default class UnitEmpty extends Vue {

        /**
         * Array of messages that appear when the resource is not present at all.
         *
         * @type string[]
         */
        public messagesEmpty = [
            this.$lang("Wszystko wskazuje na to, że nie ma zdefiniowanych żadnych jednostek."),
            this.$lang("Szukałem, ale nie znalazłem żadnych jednostek."),
            this.$lang("Możesz poszukać jednostek w układzie SI, hehe, bo tutaj nic nie ma."),
            this.$lang("Przed wyszukaniem jednostek należy zebrać... ekhem. Należy je utworzyć.")
        ];

        /**
         * Array of messages that appear when the resource was searched for
         * but not found by the server.
         *
         * @type string[]
         */
        public messagesNotFound = [
            this.$lang("Szukałem jednostek zgodnie z \":search\", ale nic nie pasowało."),
            this.$lang("Na pewno \":search\"? Ja nie znalazłem żadnej jednostki."),
            this.$lang("Nie znalazłem żadnej jednostki, która pasowałaby do \":search\"."),
            this.$lang("Miałem lamę o imieniu \":search\", ale takiej jednostki nie znalazłem.")
        ];

        /**
         * Array of leads that appear when the resource is not present at all.
         *
         * @type string[]
         */
        public leadsEmpty = [
            this.$lang("Być może nie masz uprawnień do przeglądania jednostek, a być może te, do których masz uprawnienia - nie istnieją.")
        ];

        /**
         * Array of leads that appear when the resource was searched for
         * but not found by the server.
         *
         * @type string[]
         */
        public leadsNotFound = [
            this.$lang("Jeśli jednak utrzymujesz, że taka jednostka powinna istnieć, to zgłoś to... komuś tam. W każdym razie zgłoś to."),
            this.$lang("Nie zawsze znajdujemy to, czego szukamy, ale to najlepsza motywacja, by szukać dalej! Czy byłoby li znajdowanie równie satysfakcjonujące bez szukania?"),
            this.$lang("Jeśli ta wiadomość jest dla Ciebie równie zaskakująca, co dla mnie, to przybij piątkę!"),
            this.$lang("Mamo tato, mamo tato, zamawiam jednostki na laaaatooo!")
        ];

    }
</script>
