<template>
    <aside class="my-1">
        <small class="text-uppercase mr-3" v-if="isSuperAdmin()">
            <span class="text-white-50 text-small">
                {{ __("Użytkownicy") }}
            </span>
            <span class="ml-3">
                {{ unit.users_count }}
            </span>
        </small>
        <small class="text-uppercase">
            <span class="text-white-50 text-small">
                {{ __("Harcerze") }}
            </span>
            <span class="ml-3">
                {{ unit.scouts_count }}
            </span>
        </small>
    </aside>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import Unit from "../../models/Unit";

    @Component
    export default class UnitCardDetails extends Vue {

        @Prop({ required: true })
        public unit!: Unit;

    }
</script>
