<template>
    <FormulateInput
        type="check"
        name="archived"
        :text="__('Archiwizowany')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class Archived extends Vue {}
</script>
