<template>
    <FormulateInput
        type="text"
        inputmode="numeric"
        pattern="[0-9]+"
        validation="number|min:0"
        error-behavior="submit"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class ContributionAmount extends Vue {}
</script>
