<template>
    <FormulateInput
        type="model-select"
        :model="districtModel"
        :label="typeof hideLabel === 'undefined' ? __('Hufiec') : undefined"
        :button-class="buttonClass"
        :reset-button="resetButton"
        :validation="validation"
        error-behavior="submit"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import District from "../../models/District";

    export type SizeType = "xs" | "sm" | "md" | "lg" | "xl";

    @Component
    export default class DistrictSelect extends Vue {

        @Prop({ default: undefined })
        public hideLabel!: boolean;

        @Prop({ default: "md" })
        public size!: SizeType;

        @Prop({ default: undefined })
        public inlineLabel!: boolean;

        @Prop({ default: "" })
        public toggleClass!: string;

        @Prop({ default: undefined })
        public resetButton!: boolean;

        @Prop({ default: "model" })
        public validation!: string;

        /**
         * Returns the button class string.
         *
         * @return {string}
         */
        public get buttonClass(): string {
            return "btn-" + this.size + " " + this.toggleClass;
        }

        /**
         * Returns the district model class.
         *
         * @return {typeof District}
         */
        public get districtModel(): typeof District {
            return District;
        }

    }
</script>
