<template>
    <FormulateInput
        type="email"
        name="email"
        validation="required|email"
        error-behavior="submit"
        :label="__('Adres e-mail')"
        v-bind="$attrs"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class EmailAddress extends Vue {}
</script>
