<template>
    <FormulateInput
        type="text"
        name="first_name"
        validation="required"
        error-behavior="submit"
        :label="__('Imię')"
        :placeholder="__('Imię...')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class FirstName extends Vue {}
</script>
