<template>
    <FormulateInput
        type="datepicker"
        name="joined_at"
        :label="__('Data dołączenia do ZHP')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class JoinedAt extends Vue {}
</script>
