<template>
    <FormulateInput
        type="text"
        inputmode="numeric"
        name="last_charge_day"
        validation="required|number|between:0,32"
        pattern="[0-9]*"
        error-behavior="submit"
        :label="__('Ostatni dzień naliczania składek')"
        :help="__('Dzień do którego, każdego pierwszego miesiąca kwartału należy opłacić składkę.')"
        help-class="text-white-50 mt-2"
        :validation-messages="validationMessages"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class LastChargeDay extends Vue {

        /**
         * Custom validation messages.
         *
         * @type {Object}
         */
        public validationMessages = {
            between: () => this.$lang("Ostatni dzień naliczania składki musi być dniem miesiąca pomiędzy 1 a 31.")
        };

    }
</script>
