<template>
    <FormulateInput
        type="text"
        name="last_name"
        validation="required"
        error-behavior="submit"
        :label="__('Nazwisko')"
        :placeholder="__('Nazwisko...')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class LastName extends Vue {}
</script>
