<template>
    <FormulateInput
        type="datepicker"
        name="quit_at"
        :label="__('Data wystąpienia z ZHP')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class QuitAt extends Vue {}
</script>
