<template>
    <FormulateInput
        type="text"
        name="registration_number"
        validation="matches:/^([A-Z]{2}[0-9]{9})$/"
        :validation-messages="validationMessages"
        error-behavior="submit"
        :label="__('Numer ewidencyjny')"
        :placeholder="__('Numer ewidencyjny...')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class RegistrationNumber extends Vue {

        /**
         * Custom validation messages.
         *
         * @type Object
         */
        public validationMessages = {
            matches: this.$lang("Nieprawidłowy format numeru ewidencyjnego. Prawidłowy numer ewidencyjny to dwie wielkie litery oraz dziewięć cyfr, np. AA123456789.")
        };

    }
</script>
