<template>
    <FormulateInput
        type="textarea"
        name="remarks"
        :label="__('Uwagi')"
        :placeholder="__('Uwagi...')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class Remarks extends Vue {}
</script>
