<template>
    <FormulateInput
        type="text"
        inputmode="numeric"
        name="year_start"
        validation="required|number"
        pattern="[0-9]*"
        error-behavior="submit"
        :label="__('Rok rozpoczęcia naliczania składek')"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component
    export default class YearStart extends Vue {}
</script>
