<template>
    <aside class="my-1">
        <small class="text-uppercase mr-3" v-if="isSuperAdmin()">
            <span class="text-white-50 text-small">
                {{ __("Użytkownicy") }}
            </span>
            <span class="ml-3">
                {{ role.users_count }}
            </span>
        </small>
        <small class="text-uppercase mr-3">
            <span class="text-white-50 text-small">
                {{ __("Pozwolenia") }}
            </span>
            <span v-if="role.name !== allRoles.super_administrator" class="ml-3">
                {{ role.permissions_count }}
            </span>
            <span v-else class="ml-3">
                <VIcon icon="fas fa-infinity" />
            </span>
        </small>
        <small class="text-uppercase">
            <span class="text-white-50 text-small">
                {{ __("Zasięgi") }}
            </span>
            <span v-if="role.name !== allRoles.super_administrator" class="ml-3">
                {{ role.permissions_scopes_count }}
            </span>
            <span v-else class="ml-3">
                <VIcon icon="fas fa-infinity" />
            </span>
        </small>
    </aside>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VIcon from "../../components/VIcon.vue";
    import Role from "../../models/Role";

    @Component({
        components: { VIcon }
    })
    export default class RoleCardDetails extends Vue {

        @Prop({ required: true })
        public role!: Role;

    }
</script>
