<template>
    <div>
        <FormulateForm id="role_form" name="role_form" @submit="onSubmit">
            <VSection>
                <FormulateInput
                    v-model="formData.name"
                    class="text-white mb-0"
                    type="text"
                    name="name"
                    validation="required"
                    error-behavior="submit"
                    :placeholder="__('Nazwa roli...')"
                    :label="__('Nazwa roli')"
                />
            </VSection>
            <h2 class="mt-4 mb-3 text-white">
                {{ __("Uprawnienia i zasięgi") }}
            </h2>
            <BRow class="mt-3">
                <BCol md="3">
                    <VSection class="bg-success-dark-transparent" padding="2">
                        <BNav class="m-0" vertical>
                            <BNavText class="text-uppercase px-3">
                                {{ __("Kategorie") }}
                            </BNavText>
                            <BNavItem
                                v-for="key in Object.keys(allPermissions)"
                                :key="'role-tab-' + key"
                                :active="isTabActive(key)"
                                @click.prevent="onRoleItemClick(key)"
                            >
                                <div class="w-100 d-flex justify-content-between align-items-center align-content-center">
                                    {{ allPermissionsDescriptions[key] || key }}
                                    <VIcon icon="fas fa-angle-right" :class="{ 'icon-hidden': !isTabActive(key) }" />
                                </div>
                            </BNavItem>
                        </BNav>
                    </VSection>
                </BCol>
                <BCol md="9" class="mt-3 mt-md-0">
                    <Transition name="fade" mode="out-in">
                        <div v-if="$route.query.tab" :key="'tab-' + $route.query.tab">
                            <VSection>
                                <h4 class="mb-3">
                                    {{ __("Uprawnienia") }}
                                </h4>
                                <p>
                                    {{ __("Zarządzaj uprawnieniami w tej kategorii.") }}
                                </p>
                                <RoleFormPermissionGroup
                                    :group="permissionsGroup"
                                    :model="formData.permissions"
                                />
                            </VSection>
                            <VSection class="mt-3" style="transition: all ease-in-out 100ms;">
                                <h4 class="mb-3">
                                    {{ __("Zasięgi") }}
                                </h4>
                                <p>
                                    {{ __("Twórz zasięgi, aby precyzować uprawnienia.") }}
                                </p>
                                <RoleFormPermissionsScopes
                                    :category="$route.query.tab"
                                    :model="formData.scopes"
                                    :permissions-model="formData.permissions"
                                />
                            </VSection>
                        </div>
                        <div v-else :key="'no-tab'">
                            <VSection>
                                <p class="m-0">
                                    {{ __("Wybierz kategorię uprawnień z menu.") }}
                                </p>
                            </VSection>
                        </div>
                    </Transition>
                    <nav class="text-right mt-3">
                        <VButton
                            type="submit"
                            icon="fas fa-check"
                            :text="__('Zapisz')"
                            button-class="submit-button"
                            :disabled="hasPendingRequests"
                        />
                    </nav>
                </BCol>
            </BRow>
        </FormulateForm>
    </div>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import PermissionScope from "../../../classes/PermissionScope";
    import VButton from "../../../components/VButton.vue";
    import VIcon from "../../../components/VIcon.vue";
    import VLoading from "../../../components/VLoading.vue";
    import VSection from "../../../components/VSection.vue";
    import FormMixin, { SubmittedDataInterface } from "../../../mixins/FormMixin";
    import Permission from "../../../models/Permission";
    import Role from "../../../models/Role";
    import RoleFormPermissionGroup from "./RoleFormPermissionGroup.vue";
    import RoleFormPermissionsScopes from "./RoleFormPermissionsScopes.vue";

    @Component({
        components: {
            VLoading,
            RoleFormPermissionsScopes,
            VIcon,
            RoleFormPermissionGroup,
            VButton,
            VSection
        }
    })
    export default class RoleForm extends mixins(FormMixin) {

        /**
         * The form data.
         *
         * @type Object
         */
        private formData = {
            name: "",
            permissions: [] as string[],
            scopes: [] as PermissionScope[]
        };

        /**
         * On component created.
         *
         * @return {Promise<void>}
         */
        public async created(): Promise<void> {
            if (this.isEditForm) {
                const id = this.routeParam("role")!;

                this.showLoading();

                const role = await Role.editRemote(id) as Role;

                this.formData = {
                    name: role.name,
                    permissions: role.permissions.map((permission: Permission) => permission.name),
                    scopes: PermissionScope.from(role.permissions_scopes)
                };

                this.hideLoading();
            }
        }

        /**
         * Returns permissions sub-group for selected permissions tab.
         *
         * @private
         * @return {Object}
         */
        private get permissionsGroup(): object {
            const { allPermissions } = this;
            const queryTab = this.$route.query.tab as keyof typeof allPermissions;
            const tab = (typeof allPermissions[queryTab] === "undefined")
                ? "role"
                : queryTab;

            return allPermissions[tab as keyof typeof allPermissions];
        }

        /**
         * Returns the data for submitting a form.
         *
         * @return {SubmittedDataInterface}
         */
        public getSubmittedData(): SubmittedDataInterface {
            const { name, permissions, scopes } = this.formData;

            const data = {
                name,
                permissions,
                scopes_permissions: scopes.map((scope) => scope.permission),
                scopes_scopes: scopes.map((scope) => scope.scope),
                scopes_values: scopes.map((scope) => scope.values)
            };

            return {
                model: Role,
                data
            };
        }

        /**
         * Checks whether given tab is active or not.
         *
         * @private
         * @param {string} key
         * @return {boolean}
         */
        private isTabActive(key: string): boolean {
            return (this.$route.query.tab === key);
        }

        /**
         * On role nav item click.
         *
         * @private
         * @param {string} key
         * @return {void}
         */
        private onRoleItemClick(key: string): void {
            if (key === this.$route.query.tab) {
                return;
            }

            this.$router.replace({
                query: {
                    tab: key
                }
            });
        }

    }
</script>

<style lang="scss" scoped>
    @import "resources/sass/variables";

    .icon {
        transition: all $transition-speed;
    }

    .icon-hidden {
        opacity: 0;
        margin-right: 5% !important;
    }
</style>
