<template>
    <header class="text-white text-center text-md-left">
        <h1 class="font-weight-bolder">
            {{ title }}
        </h1>
        <p v-if="description" class="lead mb-0">
            {{ description }}
        </p>
    </header>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";

    @Component
    export default class VPageHeader extends Vue {

        @Prop({ required: true })
        public title!: string;

        @Prop()
        public description?: string;

    }
</script>
