<template>
    <BNavbar :toggleable="toggleable" class="px-0 py-0">
        <VNavbarToggle :target="collapseId" class="w-100" />
        <BCollapse :id="collapseId" is-nav>
            <slot />
        </BCollapse>
    </BNavbar>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import VNavbarToggle from "../VNavbarToggle.vue";

    @Component({
        components: { VNavbarToggle }
    })
    export default class VPageMenu extends Vue {

        @Prop({ required: true })
        public collapseId!: string;

        @Prop({ default: "md" })
        public toggleable!: string | false;

    }
</script>
