@import "../variables";

.expands-height-enter-active,
.expands-height-leave-active {
    transition: max-height ease-in-out $transition-speed;
    transition-property: max-height;
    //opacity: 1;
    //transition: opacity $transition-speed, transform $transition-speed;
    //transition-timing-function: ease-in-out;
}

.expands-height-enter,
.expands-height-leave-to {
    //opacity: 0;
    //transform-origin: center;
}

.expands-height-enter {
    //transform: scale($transition-scale-factor);
}

.expands-height-leave-to {
    //transform: scale($transition-scale-fa
}
