@import "../variables";

.fade-and-scale-up-enter-active,
.fade-and-scale-up-leave-active {
    opacity: 1;
    transition: opacity ease-in-out $transition-speed, transform ease-in-out $transition-speed;
    transition-timing-function: ease-in-out;
}

.fade-and-scale-up-enter,
.fade-and-scale-up-leave-to {
    opacity: 0;
}

.fade-and-scale-up-enter {
    transform: translateY(-1rem);
}

.fade-and-scale-up-leave-to {
    transform: translateY(-1rem);
}
