@import "~bootstrap/scss/mixins";
@import "../variables";

.fade-enter-active,
.fade-leave-active {
    opacity: 1;
    transition: opacity $transition-speed, transform $transition-speed;
    transition-timing-function: ease-in-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;

    @include media-breakpoint-up(md) {
        transform: translateX(-2%);
        //margin-left: -2%;
    }
}
