@import "../variables";

.simple-fade-enter-active,
.simple-fade-leave-active {
    opacity: 1;
    transition: opacity ease-in-out $transition-speed;
    transition-timing-function: ease-in-out;
}

.simple-fade-enter,
.simple-fade-leave-to {
    opacity: 0;
}
