@import "../variables";

.slide-up-to-down-enter-active,
.slide-up-to-down-leave-active {
    transition: opacity $transition-speed, transform $transition-speed;
    transition-timing-function: ease-in-out;
}

.slide-up-to-down-enter,
.slide-up-to-down-leave-to {
    opacity: 1;
    transform: none;
}

.slide-up-to-down-enter {
    opacity: 0;
    transform: translateY(-$navbar-height);
}

.slide-up-to-down-leave-to {
    opacity: 0;
    transform: translateY(-$navbar-height);
}
